.choose-words {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  margin: 1rem;
}

.choose-words input[type='radio'] {
  margin-right: 0.5rem;
}

.words {
  display: flex;
  justify-content: space-between;
}

.choice {
  padding: 0.4rem;
}