.waiting {
  width: 90%;
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.players {
  width: 50%;
  margin: 1rem;
  padding: 1rem 1.5rem;
  font-size: 1.3rem;
  box-shadow: 0 8px 15px rgba(11, 56, 21, 0.25);
}

.spin-or-button {
  margin: 1.5rem;
  font-size: 1rem;
}

.spin-or-button div div {
  font-size: 1.2rem;
}

.btn {
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 470;
}

.btn:hover {
  width: 5rem;
  height: 5rem;
  background-color: cornflowerblue;
  cursor: pointer;
}