.canvas {
  width: 30%;
  margin: 1rem auto;
  font-size: 1.2rem;
}

.canvas-control-buttons {
  margin: 0.3rem auto;
  margin-bottom: 1rem;
}

.clear-button {
  margin-right: 0.4rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border: 1px solid #ee2525;
  background: #ee2525;
  border-radius: 5px;
}

.clear-button:hover {
  background: #f85858;
  border-color: #f85858;
  cursor: pointer;
}

.send-button {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border: 1px solid #0ea500;
  background: #0ea500;
  border-radius: 5px;
  cursor: pointer;
  justify-content: space-between;
}

.send-button:hover {
  background: #4cd840;
  border-color: #4cd840;
}